In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:

# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
train = pd.read_csv("/content/gdrive/MyDrive/dataset/trainf.csv")
test = pd.read_csv("/content/gdrive/MyDrive/dataset/testf.csv")

In [ ]:
train_Y = train['Cost'].abs()
train_X = train.drop(['Cost'], axis=1)
test_X = test
train_X

               Customer Id  ...          Customer Location
0     fffe3900350033003300  ...     New Michelle, OH 50777
1     fffe3800330031003900  ...  New Michaelport, WY 12072
2     fffe3600370035003100  ...      Bowmanshire, WA 19241
3         fffe350031003300  ...       East Robyn, KY 86375
4     fffe3900320038003400  ...        Aprilside, PA 52793
...                    ...  ...                        ...
6495  fffe3800370037003300  ...       New Robert, VT 85335
6496      fffe310036003400  ...       New Joshua, VA 35766
6497  fffe3600300031003300  ...       Lake Kelly, MA 80823
6498  fffe3600350035003900  ...       Hintonberg, UT 35006
6499  fffe3700310031003600  ...  New Christopher, AK 87406

[6500 rows x 19 columns]

In [ ]:
train_X = train_X.drop(['Customer Id', 'Artist Name', 'Scheduled Date', 'Delivery Date', 'Customer Location', 'Transport'], axis = 1)
test_X = test.drop(['Customer Id', 'Artist Name', 'Scheduled Date', 'Delivery Date', 'Customer Location', 'Transport'], axis = 1)

In [ ]:
#1. Function to replace NAN values with mode value
def impute_nan_most_frequent_category(DataFrame,ColName):
    # .mode()[0] - gives first category name
     most_frequent_category=DataFrame[ColName].mode()[0]
    
    # replace nan values with most occured category
     DataFrame[ColName + "_Imputed"] = DataFrame[ColName]
     DataFrame[ColName + "_Imputed"].fillna(most_frequent_category,inplace=True)
#2. Call function to impute most occured category
for Columns in ['Material', 'Remote Location']:
    impute_nan_most_frequent_category(train_X,Columns)
    impute_nan_most_frequent_category(test_X,Columns)
    
# Display imputed result
train_X[['Material','Material_Imputed','Remote Location','Remote Location_Imputed']].head(10)
#3. Drop actual columns
train_X = train_X.drop(['Material', 'Remote Location'], axis = 1)
test_X = test_X.drop(['Material', 'Remote Location'], axis = 1)

In [ ]:
train_X

      Artist Reputation  Height  ...  Material_Imputed  Remote Location_Imputed
0                  0.26    17.0  ...             Brass                       No
1                  0.28     3.0  ...             Brass                       No
2                  0.07     8.0  ...              Clay                      Yes
3                  0.12     9.0  ...         Aluminium                      Yes
4                  0.15    17.0  ...         Aluminium                       No
...                 ...     ...  ...               ...                      ...
6495               0.37    37.0  ...             Brass                      Yes
6496               0.67    15.0  ...             Brass                       No
6497               0.68    19.0  ...              Clay                       No
6498               0.02    33.0  ...             Stone                      Yes
6499               0.18    30.0  ...             Brass                       No

[6500 rows x 13 columns]

In [ ]:
# Get list of categorical variables
s = (train_X.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['International', 'Express Shipment', 'Installation Included', 'Fragile', 'Customer Information', 'Material_Imputed', 'Remote Location_Imputed']

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Make copy to avoid changing original data 
label_X_train = train_X.copy()
label_X_test = test_X.copy()

# Apply label encoder to each column with categorical data
label_encoder = LabelEncoder()
for col in object_cols:
    label_X_train[col] = label_encoder.fit_transform(train_X[col])
    label_X_test[col] = label_encoder.transform(test_X[col])

In [ ]:
from sklearn.impute import SimpleImputer

# Imputation
my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(label_X_train))
imputed_X_test = pd.DataFrame(my_imputer.transform(label_X_test))

# Imputation removed column names; put them back
imputed_X_train.columns = train_X.columns
imputed_X_test.columns = test_X.columns

In [ ]:
imputed_X_train

      Artist Reputation  Height  ...  Material_Imputed  Remote Location_Imputed
0                  0.26    17.0  ...               1.0                      0.0
1                  0.28     3.0  ...               1.0                      0.0
2                  0.07     8.0  ...               3.0                      1.0
3                  0.12     9.0  ...               0.0                      1.0
4                  0.15    17.0  ...               0.0                      0.0
...                 ...     ...  ...               ...                      ...
6495               0.37    37.0  ...               1.0                      1.0
6496               0.67    15.0  ...               1.0                      0.0
6497               0.68    19.0  ...               3.0                      0.0
6498               0.02    33.0  ...               5.0                      1.0
6499               0.18    30.0  ...               1.0                      0.0

[6500 rows x 13 columns]

In [ ]:
import sklearn
scaler = sklearn.preprocessing.StandardScaler()

X_train = pd.DataFrame(scaler.fit_transform(imputed_X_train), columns=imputed_X_train.columns)
X_test = pd.DataFrame(scaler.transform(imputed_X_test), columns=imputed_X_test.columns)

In [ ]:
y_prediction_rf = rf.predict(X_test)

In [ ]:
y_prediction_rf

array([   268.3527,    296.8799,    214.3183, ...,   1078.8713,
          290.9305, 150666.6508])

In [ ]:
#from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
param_grid = [
{'n_estimators': [50,100,250,500], 
 'max_depth': [10, 50, 100], 'bootstrap': [True, False]}
]

In [ ]:
random_search_forest = RandomizedSearchCV(rf, param_grid, cv=3)
random_search_forest.fit(X_train, train_Y)

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=False,
                                                   random_state=42, verbose=0,
                                                   warm_start=False),
                   iid='deprecated', n_iter=10, n_jobs=None,
                   param_distributions=[{'bootstrap': [True, False],
                                         'max_depth': [10, 50, 100],
                                         'n_estimators': [50, 100, 250, 500]}],
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [ ]:
tuned_rf_best_random = random_search_forest.best_estimator_

In [ ]:
tuned_rf_best_random

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=50, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [ ]:
tuned_rf_best_random.fit(X_train, train_Y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=50, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [ ]:
tuned_rf_random_pred = tuned_rf_best_random.predict(X_test)

In [ ]:
tuned_rf_random_pred

array([   263.69266,    290.14112,    210.61648, ...,   1086.4508 ,
          278.6862 , 142671.08942])

In [ ]:
df = pd.DataFrame()

In [ ]:
df['Customer Id'] = test['Customer Id']
df['Cost'] = y_prediction_rf
df['Cost'] = df['Cost'].abs()

In [ ]:
df

               Customer Id         Cost
0     fffe3400310033003300     268.3527
1     fffe3600350035003400     296.8799
2     fffe3700360030003500     214.3183
3         fffe350038003600     222.4385
4     fffe3500390032003500     296.7572
...                    ...          ...
3495  fffe3200300037003100    1153.7301
3496      fffe390031003100    2708.0676
3497  fffe3200350031003700    1078.8713
3498  fffe3100380031003000     290.9305
3499  fffe3200340037003300  150666.6508

[3500 rows x 2 columns]

In [ ]:
df.to_csv('prediction1.csv', index = False)